.App {
  text-align: center;
}




.home{
  
  width: 50%;
  margin: auto;
  margin-top: 50px;
}

button{
  height: 50px;
  border: none;
  background-color: rgb(61, 61, 61);
  color: white;
  padding: 10px;
  font-weight: 700;
  cursor: pointer;
  margin-bottom: 30px;
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
  border-radius: 10px;
  
  
}
.DeletUser{
  background-color: red;
}
.userDetails{
  background-color: green;
}

.head{
  background-color: greenyellow;
  padding: 10px;
}

.list{
  
  width: 90%;
  margin: auto;
  text-align: center;
}

table{
  width: 100%;
}

.top{
  width:20%;
  display: flex;
  flex-direction: column;
  margin: auto;
  margin-bottom: 40px;

}

.filterbyGender{
  height: 30px;
  margin: auto;
  
  width: 80%;
 

}